.App {
  /* text-align: center; */
}
.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
 
.recipes-container{
  width: 28%;
  border: 15px solid transparent;
  border-image: url(https://comps.gograph.com/food-background-pattern_gg66345602.jpg) 50 round;
}

.recipes-container h2{
  padding-left: 30%;
}

.recipes-container h1{
  padding-left: 13%;
}

.recipe-img{
  max-width: 25px;
  height: auto;
  padding-left: 5%;
}